{% extends "base.html" %} {% block meta %}
<meta name="description" content="" />
<title>About Houston Area Rug Cleaning</title>
{% endblock meta %} {% block content %}

<div class="wrapper">
  <div class="blueblock">
    <h1 class="content-headers">About Houston Area Rug Cleaning</h1>
  </div>
  <div class="whiteblock">
    <p class="blacktext">
      We are a locally owned and operated Area Rug Cleaning Service, and a
      subsidiary of <a class="blacklinks" href="">Decker's Carpet Cleaning</a>.
      As an owner-operater small business, we take pride in our work and treat
      each and every project, and customer with care, respect, and outstanding
      customer service.
    </p>
  </div>
  <div class="blackbreaker"></div>
</div>

{% endblock content %}
