{% extends "base.html" %} {% block meta %}
<meta name="description" content="" />
<title>Houston Area Rug Cleaning | Service Area</title>
{% endblock meta %} {% block content %}

<div class="wrapper">
  <div class="blueblock">
    <h1 class="content-headers">Houston Area Rug Cleaning Service Area</h1>
  </div>
  <div class="whiteblock">
    <div class="area-lists">
      <div class="col col-6">
        <ul class="area-list">
          <li><a href="#">Houston</a></li>
          <li><a href="#">Kingwood</a></li>
          <li><a href="#">Atascocita</a></li>
          <li><a href="#">Summerwood</a></li>
          <li><a href="#">Eagle Springs</a></li>
          <li><a href="#">Huffman</a></li>
        </ul>
      </div>
      <div class="col col-6">
        <ul class="area-list">
          <li><a href="#">The Woodlands</a></li>
          <li><a href="#">Spring</a></li>
          <li><a href="#">Humble</a></li>
          <li><a href="#">Porter</a></li>
          <li><a href="#">New Caney</a></li>
          <li><a href="#">Roman Forest</a></li>
        </ul>
      </div>
      <div class="col col-6">
        <ul class="area-list">
          <li><a href="#">Conroe</a></li>
          <li><a href="#">Crosby</a></li>
          <li><a href="#">Splendora</a></li>
          <li><a href="#">Bellaire</a></li>
          <li><a href="#">Montrose</a></li>
          <li><a href="#">The Heights</a></li>
        </ul>
      </div>
    </div>
    <div class="mapblock">
      <p class="blacktext">
        We serve the Greater Houston, TX area from our main office in Kingwood,
        TX. Our office is located on Northpark Drive in the
        <a
          class="blacklinks"
          target="_blank"
          href="http://northparkbusinesscenter.com/"
          >Northpark Business Center & Storage</a
        >.
      </p>
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.850710324926!2d-95.23102508527228!3d30.06981348187311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86474d58f9f4fbf1%3A0x28be0f0caa893b03!2s1701%20Northpark%20Dr%2C%20Humble%2C%20TX%2077339!5e0!3m2!1sen!2sus!4v1623706747213!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <button class="button btn-lg">
      <a href="{% url 'contact-us' %}"
        >Schedule Your Area Rug Cleaning Today!</a
      >
    </button>
  </div>
</div>
{% endblock content %}
