{% extends "base.html" %} {% block meta %}
<meta name="description" content="" />
<title>Houston Area Rug Cleaning</title>
{% endblock meta %} {% block content %}

<div class="wrapper">
  <div class="upper-fold">
    <h1>
      Houston Area Rug Cleaning <br />
      <span>Professional Area Rug Cleaning Services</span>
    </h1>
    <div class="upper-fold-subhead">
      <!--Change This Text-->
      <p>
        Our mission is to help our neighbors to improve and maintain their area
        rugs, excel in service, deliver over the top results, create
        enthusiastic fans, and maintain our values and ethics.
      </p>
    </div>
    <div class="home-schedulebtn">
      <button class="button btn-lg" href="">
        Schedule Your Free Consultation Today!
      </button>
    </div>
  </div>
  <div class="whiteblock">
    <h2 class="content-subhead">What To Expect When We Clean Your Area Rugs</h2>
    <div class="breaker-2"></div>
    <div class="body-columns">
      <div class="col col-text">
        <p class="blacktext">
          When choosing a local Area Rug Cleaning Service it is important to
          know that your area rugs, whether they be wool rugs, persian rugs,
          oriental rugs, throw rugs, polyester rugs, or even indoor/outdoor
          rugs, are treated with the utmost care. You can read all about our
          detailed, area rug cleaning services here(link).
        </p>
        <p class="blacktext">
          At Houston Area Rug Cleaning, we know that a rug really can tie the
          room together, and we are committed to treating each and every area
          rug with the highest level of service. We also understand that each
          area rug is as unique as the families that live on them, so whether
          you are looking to freshen up your family room rug, salvage an old
          family heirloom or anything in between, you can trust that Houston
          Area Rug Cleaning to provide superior service for your family’s area
          rug cleaning needs.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
