/*colors and fonts*/
:root {
  --light-blue: #628ec9;
  --dark-blue: #002962;
  --light-orange: #f48818;
  --dark-orange: #ec6e19;
  --bright-white: #ffffff;
  --dark-white: #e8eaeb;
  --black-text: black;
  --font-1-font-family: "Lobster", cursive;
  --font-2-font-family: "Montserrat";
}

body {
  margin: auto;
  background-color: var(--dark-white);
}

.col {
  margin: 0;
  flex-basis: auto;
}

.topbar {
  position: sticky;
  z-index: 9999;
  top: 0;
}

header {
  background-color: var(--dark-blue);
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
  display: inline-flex;
  width: 100%;
}

.logo a {
  font-family: var(--font-1-font-family);
  color: var(--dark-orange);
  font-size: 3rem;
  text-decoration: none;
}
.logo a:hover {
  text-decoration: none;
  color: var(--light-orange);
}

.cta-phone {
  font-family: var(--font-1-font-family);
  color: var(--bright-white);
  padding: 1rem 1rem 0 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.cta-phone:hover {
  text-decoration: underline;
  color: var(--bright-white);
}

button:hover,
button:focus {
  transform: scale(1.1);
}

.btn-top {
  background-color: var(--dark-orange);
  border-radius: 5px;
  border: var(--dark-white);
  height: 2rem;
  padding: 0.1rem 0.75rem;
  font-weight: bolder;
  margin-top: 1rem;
  right: 4rem;
  position: absolute;
}
.btn-top a {
  font-family: var(--font-2-font-family);
  color: var(--bright-white);
}

.btn-top:hover {
  text-decoration: underline;
  background-color: var(--light-orange);
}

nav {
  background-color: var(--dark-orange);
}

.nav-list {
  display: inline-flex;
  padding: 1rem 0.5rem 0.5rem 1.5rem;
}

.nav-list li {
  list-style: none;
  margin-right: 5rem;
}

.nav-list a {
  color: var(--bright-white);
  font-family: var(--font-2-font-family);
}

footer {
  background-color: var(--dark-orange);
  width: 100%;
  padding-top: 1.5rem;
}

.footer-columns {
  max-width: 100%;
  display: flex;
  /*justify-content: space-between;*/
}

.foot-col {
  max-width: 40%;
}

.foot-col-special {
  max-width: 15%;
}

.foot-header {
  color: var(--bright-white);
  font-family: var(--font-2-font-family);
  font-size: 1rem;
}

.foot-list {
  padding-inline-start: 0px;
}

.foot-list li {
  list-style: none;
}

.foot-list a {
  color: var(--bright-white);
  font-family: var(--font-2-font-family);
  font-size: 0.75rem;
}

.foot-col p {
  color: var(--bright-white);
  font-family: var(--font-2-font-family);
}

#special-foot-list li {
  display: flex;
}
#special-foot-list a {
  font-size: 1rem;
  padding-top: 1rem;
}
#special-foot-list img {
  height: 3rem;
}
.pin {
  margin-top: 1rem;
}

.upper-fold {
  /*need to change this picture*/
  background-image: url("/static/img/area-rug-banner.bfdd9ba01751.png");
  max-width: 100%;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.upper-fold h1 {
  font-family: var(--font-1-font-family);
  font-size: 5rem;
  color: var(--dark-orange);
  text-shadow: 0 0 7px black, 0 0 10px black;
  padding-top: 2rem;
}

.upper-fold h1 span {
  font-size: 3rem;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  padding-top: 2rem;
}

.upper-fold-subhead {
  width: 60%;
  margin: 0 auto;
  padding-top: 1rem;
}

.upper-fold-subhead p {
  color: var(--bright-white);
  font-family: var(--font-2-font-family);
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 0 0 7px black, 0 0 10px black;
}

.upper-fold-subhead a {
  color: var(--bright-white);
  font-family: var(--font-2-font-family);
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 0 0 7px black, 0 0 10px black;
  text-decoration: underline;
}

.home-schedulebtn {
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.btn-lg {
  display: inline-block;
  background-color: var(--dark-orange);
  border: 2.5px solid black;
  text-shadow: 0 0 3.5px black, 0 0 5px black;
  font-weight: lighter;
}

.btn-lg:hover {
  background-color: var(--light-orange);
  color: var(--bright-white);
  text-decoration: underline;
}

.btn-lg a {
  font-family: var(--font-1-font-family);
  color: var(--dark-white);
}

.whiteblock {
  max-width: 85%;
  margin: 0 auto;
  text-align: center;
}
.blueblock {
  background-color: var(--dark-blue);
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.special-subhead {
  font-family: var(--font-1-font-family);
  font-size: 2.5rem;
  color: var(--dark-orange);
  text-shadow: 0 0 7px black, 0 0 10px black;
  padding-top: 2rem;
  max-width: 85%;
  text-align: center;
  margin: 0 auto;
}
.content-subhead {
  font-family: var(--font-2-font-family);
  font-weight: bolder;
  text-align: center;
  padding-top: 1rem;
}

.col-text {
  max-width: 85%;
  margin: 0 auto;
  color: var(--dark-white);
  font-size: large;
  font-weight: bold;
  font-family: var(--font-2-font-family);
  padding-bottom: 2rem;
}

.content-headers {
  font-family: var(--font-1-font-family);
  color: var(--dark-orange);
  text-align: center;
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chunk {
  max-width: 85%;
  margin: 0 auto;
}
h3 {
  font-size: large;
  font-weight: bolder;
}

.body-columns {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}
.body-columns-2 {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
}
.col-title {
  max-width: 25%;
}
.col-text-2 {
  max-width: 70%;
  border-left: 2px dotted black;
}

.blacktext {
  font-family: var(--font-2-font-family);
  color: black;
}

.blackbreaker {
  max-width: 90%;
  height: 2px;
  background-color: black;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.centerme {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.anchor {
  display: block;
  position: relative;
  top: -10rem;
  visibility: hidden;
}
.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control,
.input-group > .form-control-plaintext {
  width: 25rem;
}
.form-wrap {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 1rem;
}
#id_contact-form {
  padding-left: 8rem;
}
.firstname {
  display: inline-flex;
}
.lastname {
  display: inline-flex;
}
.emailaddress-form {
  display: inline-flex;
}
.phonenumber-form {
  display: inline-flex;
}

.address-form {
  display: inline-flex;
}
.city-form {
  display: inline-flex;
}
.state-form {
  display: inline-flex;
}
.zipcode-form {
  display: inline-flex;
}
.message-widget-form {
  max-width: 50.5rem;
  max-height: 10rem;
}
.area-lists {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}
.area-lists ul {
  list-style: none;
}
.col-6 {
  padding-top: 1rem;
  width: 33.333333%;
}
.col-6 li {
  font-family: var(--font-2-font-family);
  text-decoration: underline;
  font-size: 1.25rem;
}
.col-6 a {
  color: black;
}
.blacklinks {
  color: black;
  text-decoration: underline;
}
.mapblock {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  line-height: 70px;
  display: none;
}
#toggle {
  display: none;
  margin-right: auto;
  margin-left: auto;
}
#diff {
  display: none;
}

@media only screen and (max-width: 995px) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .btn-top {
    position: relative;
    margin: 0 auto;
    right: 0;
  }
  nav {
    text-align: center;
  }
  .nav-list li {
    text-align: center;
    margin-right: 0;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #id_contact-form {
    padding-left: 0;
  }
  .firstname {
    display: block;
  }
  .lastname {
    display: block;
  }
  .emailaddress-form {
    display: block;
  }
  .phonenumber-form {
    display: block;
  }
}

@media only screen and (max-width: 846px) {
  nav {
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  nav a {
    opacity: 0;
    transition: opacity 200ms ease-in-out 200ms;
  }
  .bottomhead {
    background-color: var(--light-orange);
    display: flex;
  }

  label {
    display: inline-block;
    margin: 0 auto;
  }
  .nav-toggle span,
  .nav-toggle span::before,
  .nav-toggle span::after {
    display: inline-block;
    background: #eef2f8;
    height: 0.2rem;
    width: 2rem;
    border-radius: 2px;
    vertical-align: middle;
    position: relative;
  }
  .nav-toggle span::before,
  .nav-toggle span::after {
    content: "";
    position: absolute;
  }
  .nav-toggle span::before {
    bottom: 0.6rem;
  }
  .nav-toggle span::after {
    top: 0.6rem;
  }
  #toggle:checked ~ nav {
    display: block;
    transform: scale(1, 1);
    position: absolute;
    top: 100%;
    width: 100%;
  }
  #toggle:checked ~ nav a {
    opacity: 1;
  }
  #diff {
    display: block;
  }
  .nav-list {
    display: block;
    flex-direction: column;
    position: absolute;
    right: auto;
    padding: 0;
    width: 100%;

    background-color: var(--light-orange);
  }
  .nav-list li {
    border-bottom: 1px solid var(--dark-white);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav-list a {
    font-family: var(--font-1-font-family);
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 760px) {
  .body-columns-2 {
    flex-direction: column;
  }
  .col-text-2 {
    border-top: 2px dotted black;
    border-left: none;
    max-width: 90%;
    padding-top: 1rem;
    text-align: center;
  }
  .footer-columns {
    display: flex;
    flex-direction: column;
  }
  .foot-col-special {
    max-width: 100%;
  }
}

@media only screen and (max-width: 467px) {
  .input-group > .custom-file,
  .input-group > .custom-select,
  .input-group > .form-control,
  .input-group > .form-control-plaintext {
    width: 17rem;
  }
}
